/*importar fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



*::selection{
    color: var(--bg-color);
    background-color: var(--main-color);
}

a { 
    color: currentColor;
 }
/*reset*/
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* criando variaveis para as cores ultilizadas no projeto */
/*https://color.adobe.com/pt/create/color-wheel  cria cores que combinam*/
:root{ 
    --bg-color: #1f242d;
    --segunda-bg-color: #323946;
    --texto-color: #fff;
    --main-color: #F7D101;
}

/* https://dev.to/lazarocontato/quando-utilizar-rem-em-ou-pixel-cf0   medidas dinamicas*/
html{
    font-size: 62.5%;
    overflow-x: hidden;

}

body{
    background: var(--bg-color);
    color: var(--texto-color);
}

/* ajustando todas as section central */
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* add no js menu lateral  */
.header.header2 {
    border-bottom: .1rem solid rgba(0,0,0,.2);

}

.logo{
    font-size: 3.5rem;
    color: var(--texto-color);
    font-weight: 600;
    cursor: default; /*quando musar a pagina ela vai junto*/
}

.navbar a{
    font-size: 2.0rem;
    color: var(--texto-color);
    margin-left: 3rem;
}

.navbar a:hover,
.navbar a.ativa{
    color: var(--main-color);
}


/* adicionar icones atraves do site */
/* https://boxicons.com/ */

#menu-icones{
    font-size: 4.0rem;
    color: var(--texto-color);
    display: none;
}

.home-conteiner{
    height: 69rem;
    margin-top: 55px;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-conteiner h3{
    font-size: 3.0rem;
    font-weight: 700;
}

.home-conteiner h1{
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-img{
    width:auto;
    margin-bottom: 10rem;
    margin-left: 10rem;
}

.home-img:hover{
    background-image: url('../img/Home2.svg');
    background-repeat: no-repeat;
}

.home img:hover{
    opacity: 0;
    transition: .4s;
}
.home-conteiner p{
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--segunda-bg-color);
    box-shadow: 0 0 2rem var(--main-color);
}



span{
    color: var(--main-color);  
}

.btn{
    margin-top: 2rem;
    display: inline-block;
    padding: 1rem 3.0rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    box-shadow: 0 0 2rem var(--main-color);
    font-size: 1.5rem;
    color: var(--bg-color);
    font-weight: 600;
    letter-spacing: .2rem;
    cursor: pointer;
}

.btnn{
    margin-top: 2rem;
    display: inline-block;
    padding: 1rem 3.0rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    box-shadow: 0 0 2rem var(--main-color);
    font-size: 1.5rem;
    color: var(--bg-color);
    font-weight: 600;
    letter-spacing: .2rem;
}

.btn:hover{
    box-shadow: none;
}

.btnn:hover{
    box-shadow: none;
}

/*FIM DO CSS PAGINA HOME*/
/* INICIO DO CSS PAGINA SOBRE */

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: var(--segunda-bg-color);
}

.sobre-img img{
    width: 35vw;
}

.cabecalho{
    text-align: center;
    font-size: 5rem;
}

.sobre-conteiner h2{
    text-align: left;
    line-height: 1.2;
}

.sobre-conteiner h3{
    font-size: 2.7rem;
}

.sobre-conteiner p{
    font-size: 1.6rem;
    margin: 2rem 0 1rem;
}

/* popus*/

.popup{
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;


    /*SOMBREANDO A PAGGINA PARA EVIDENCIAR O POP UP*/
    background-color: rgba(0,0,0,.2);
}

.popup-conteudo{
    background-color: var(--segunda-bg-color);
    margin: 10% auto;
    padding: 20px;
    border-radius: 2rem;
    border: .2rem solid var(--main-color);
    max-width: 600px;
    box-shadow: 0 0 2rem var(--main-color);
}

.close,
.closes1,
.closes2,
.closes3,
.closes4{
    color: var(--texto-color);
    float: right;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
.closes1:hover,
.closes1.focus,
.closes2:hover,
.closes2.focus,
.closes3:hover,
.closes3.focus,
.closes4:hover,
.closes4.focus,
.close:hover,
.close.focus {
    color: var(--main-color);
    transform: scale(1.2);
    cursor: pointer;
}

/*FIM DO CSS PAGINA SOCIAL*/


.servicos h2{
    margin-bottom: 1rem;
}

.servicos-conteinercursos{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    padding-bottom: 4rem;
    flex-wrap: wrap;
}

.servicos-conteiner{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    padding-bottom: 4rem;
}
.servicos-conteinercursos .servico-box,
.servicos-conteiner .servico-box{
    display: flex;
    flex: 1 1 30rem;
    background-color: var(--segunda-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 3rem;
    text-align: center;
    border: 0.2rem solid var(--bg-color);
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
}
.servico-box i{
    font-size: 7rem;
    color: var(--main-color);
}
.servico-box h3{
    font-size: 2.5rem;
}

.servico-box p{
    font-size: 1.6rem;
    margin: .5rem 0 3rem;
}
.servicos-conteinercursos .servico-box:hover,
.servicos-conteiner .servico-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

/*aaaaaaaaaaaaaaaaa*/

.servicopage .servicos{
    padding: 0;
    
}

.servicopage{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.servicopage span{
    font-size: xx-large;
    
}
/* .servicopage-conteiner{
    margin-top: 15.25rem;
} */


.servicopage-conteiner h3{
    font-size: 3.0rem;
    font-weight: 700;
}

.servicopage-conteiner p{
    font-size: 3vh;
}

.servicopage-conteiner h1{
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.3;
}
.design-img{
    margin-top: 5rem;
    width:auto;
}

.design-img:hover{
    
    background-image: url('../img/desinggimg2.png');
    background-repeat: no-repeat;
    
}
.servicopage img:hover{
    opacity: 0;
    transition: .4s;
}


.designpg-conteiner p{
    font-size: 1.6rem;
}

.sobred{
    padding-top: .5rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    background-color: var(--segunda-bg-color);
}

.sobred-img img{
    width: 9vw;
}



.sobred-conteiner{
    height:auto;
}
.sobred-conteiner h2{
    text-align: left;
    line-height: 1.2;
}

.sobred-conteiner h3{
    font-size: 2.7rem;
}

.sobred-conteiner p{
    font-size: 1.6rem;
    margin: 2rem 0 1rem;
}


/*eeeeeeeeeeeeeeeeeeeeee*/
.front-img{
    margin-top: 5rem;
    width:auto;
}

.front-img:hover{
    
    background-image: url('../img/fron2.png');
    background-repeat: no-repeat;
    
}
.front img:hover{
    opacity: 0;
    transition: .4s;
}

/*progamçãoeeeeeeeeeeeeeeeeeeee*/

.proga-img{
    margin-top: 5rem;
    width:auto;
}

.proga-img:hover{
    
    background-image: url('../img/proga2.png');
    background-repeat: no-repeat;
    
}
.proga img:hover{
    opacity: 0;
    transition: .4s;
}

/*Bac-endeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/

.back-img{
    margin-top: 5rem;
    width:auto;
}

.back-img:hover{
    
    background-image: url('../img/back2.png');
    background-repeat: no-repeat;
    
}
.back img:hover{
    opacity: 0;
    transition: .4s;
}



/* INICIO DA PAGINA PORTIFOLIO */

.portifolio{
    background-color: var(--segunda-bg-color)
}

.portifolio h2{
    margin-bottom: 4rem;
}

.portifolio-conteiner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   /* ou grid-template-columns: auto auto auto;*/
    gap: 2.5rem;
}

.portifolio-conteiner .portifolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 2rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portifolio-box img{
    width: 100%;
    transition: .5s;
}

.portifolio-box .portifolio-descricao{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), var(--bg-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0, 4rem;
    /* add o hover */
    transform: translateY(100%);
    transition: .5s;
}

.portifolio-descricao h4{
    font-size: 3rem;
}

.portifolio-descricao p{
    font-size: 1.5rem;
    margin: .3rem 0 2rem;
}

.portifolio-descricao a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background: var(--texto-color);
    border-radius: 20%;
}

.portifolio-descricao a i {
    font-size: 3rem;
    color: var(--segunda-bg-color);
}

.portifolio-box:hover img{
    transform: scale(1.1);
}

.portifolio-box:hover .portifolio-descricao{
    transform: translateY(0);
}

/* INICO DA PAGINA DESTAQUE */
.cima span{
    font-size: 5rem;
}
.cima{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 5vh;
}
.destaques-conteudo,
.destaques-conteudo2{
    padding: 5%;
}
.destaques-conteudo img,
.destaques-conteudo2 img{
    width: 100%;
    height: 100%;
    box-shadow: -30px 30px 0rem var(--main-color)

}
.destaque{
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.destques-conteiner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: nowrap;
}

/* INICIO DA PAGINA CONTATO */

.contato{
    background-image: url('../img/bck.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.contato h2{
    margin-bottom: 3rem;
}

.contato form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contato form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contato form .input-box input,
.contato form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--texto-color);
    background: var(--segunda-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 0 2rem var(--bg-color);
}

.contato form .input-box input{
    width: 49%;
}

.contato form textarea{
    resize: none;
}

.contato form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.contato-conteiner{
    display: flex;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.contato-conteiner a{
    font-size: 2rem;
    border: 2px solid;
    padding: 11px;
    padding-left: 20px;
    padding-right: 20px;
}

.contato-conteiner a:hover{
    color: var(--bg-color);
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.contato p{
    font-size: 1.6rem;
    padding: 50px;
    padding-left: 17%;
    padding-right: 17%;
}

/* RODAPÉ */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #100E47;
}

.foot-texto p{
    font-size: 1.5rem;
}

.foot-iconeHome a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
}

.foot-iconeHome a i{
    font-size: 2rem;
    color: var(--segunda-bg-color);
}

.foot-iconeHome a:hover{
    /* //FAÇAM ALGUMA INTERAÇÃO */
    background: var(--texto-color);
    transition: .9s;
    transform: rotate(360deg);
}

/* RESPONSIVIDADE */

/* @media (max-width: 2560px){ 4k dispositivos
    .logo{
        font-size: 8rem;
    }
    .navbar a{
        font-size: 4rem;
    }
    .home-conteiner h3{
        font-size: 7rem;
    }
    .home-conteiner h1{
        font-size: 12rem;
    }
    .home-conteiner p{
        font-size: 4rem;
    }
    .social-media a{
        width: 8rem;
        height: 8rem;
    }
    .social-media i{
        font-size: 6rem;
    }
}

@media (max-width: 1440px){ Laptop G
} */

@media(max-width: 1200px){
    html{
        font-size: 55%;
    } 

}

/* @media (max-width: 1024px){ Laptop
} */



@media (max-width: 960px) {
    .header{
        padding: 1.5rem 3%;
    }
    .home{
        padding-top: 5rem;
    }
    .home-img{
        width: 100%;
        margin-left: 5rem;
    }
    
    section{
        padding: 10rem 3% 1.5rem;
    }
    .sobre{
        padding-bottom: 5em;
    }
    .servicos{
        padding-bottom: 5em;
    }
}

 @media (max-width: 768px){ 
    .servicos-conteiner{
        flex-wrap: wrap;
    }
    /* .design-img img{
        wh
    } */
}

@media (max-width: 750px) {
 /* ativando o menu icones*/
    #menu-icones{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .navbar.ativa{
        display: block;
    }

    .home-conteiner{
        height: auto;
    }
    .home-conteiner{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .home{
        flex-direction: column;
        padding-top: 7rem;
    }

    .home-conteiner h3{
        font-size: 3rem;
    }

    .home-conteiner h1{
        font-size: 4.5rem;
    }
    .home-conteiner p{
        font-size: 2rem;
    }
    .home-img img{
        width: 40vw;
        
    }
    

    .home-img{
        width: 40vw;
        
        margin: auto;
        margin-bottom: 4rem;
    }

    .social-media{
        justify-content: center;
        text-align: center;

    }

    .social-media a{
        font-size: 4rem;
        width: 6rem;
        height: 6rem;
        margin-top: 3.125rem;
        margin-bottom: 4.125rem;
        margin-left: 3.125rem;
        margin-right: 3.125rem;
       
        
    }


    /*SOBRE*/
    .sobre-img img{
        width: 45vw;
        border: 2px solid var(--main-color);
    }
    
    

    /* servissos */

    .btnn{margin-top: 2rem;}
    
    .servicos h2{
        margin-bottom: 2rem;
    }

    /* .servicos-conteiner{
        display: inline-block;
    } */
    
   
    .servicos{
        padding-left: 6.25rem;
        padding-right: 6.25rem;

    }


    /*serviços pagina*/

    .servicopage{
        flex-direction: column;
        padding-top: 7rem;

    }

    .front-img img,
    .design-img img,
    .proga-img img,
    .back-img img,
    .home-img img{
        width: 25rem; 
        margin-top: 4.2rem; 
    }

    .front-img,
    .design-img,
    .proga-img,
    .back-img,
    .home-img{
        width: auto;
        padding: auto;
        margin: auto;
        margin-bottom: 4rem;
    }

    .home-img{
        margin-top: 50px;
    }
    
    /* portifolio*/

    .portifolio-conteiner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       /* ou grid-template-columns: auto auto auto;*/
        gap: 2.5rem;
    }
    .portifolio-conteiner{
        margin-bottom: 10rem;
    }

    
    .front-img:hover, .design-img:hover,.back-img:hover,.proga-img:hover{
        opacity: 1;
        background-image: none;
        background-repeat: no-repeat;
        
    }

    .servicopage img:hover {
        opacity: 1;
        transition: .4s;
    
}
}

@media (max-width: 610px){
    /*HOME*/
    .social-media{
        justify-content: center;
        text-align: center;

    }

    .social-media a{
        font-size: 3rem;
        width: 5rem;
        height: 5rem;
        margin-top: 3rem;
        margin-bottom: 4rem;
        margin-left: 3rem;
        margin-right: 3rem;
       
        
    }
    .popup-conteudo{
        margin: 10%;
    }



    .portifolio-conteiner{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
       /* ou grid-template-columns: auto auto auto;*/
        gap: 2.5rem;
    }
    .portifolio-conteiner{
        padding-left: 7rem;
        padding-right: 7rem;
        margin-bottom: 10rem;
    }

    /*Destaques*/

    .destques-conteiner{
        flex-direction: column;
        width: 50rem;
    }

    .destaques-conteudo,
    .destaques-conteudo2 {
        padding: 8%;
    }
}







@media (max-width: 426px){ 
    .sobre{
        flex-direction: column;
    }
    .sobre .btn{
        display: grid;
        text-align: center;
        margin-left: 6rem;
        margin-right: 6rem;
        margin-bottom: 5rem;
        margin-top: 4rem;
    }
    .portifolio-conteiner{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .home-img img{
        width: 58vw;
    }

    .home img:hover{
        opacity: 1;
    }
    .home-img:hover{
        background-image: none;
    }
    .social-media a{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    /*destaques*/

    .destques-conteiner{
        width: 50rem;
    }
    
}

@media (max-width: 375px){ 
    .sobred-img{
        width: 0;
    }
    .sobred-img img{
        width: 0;
    }
    .popup-conteudo{
        margin: 2%;
    }

    /*destaques*/

    .destaque{
        padding-top: 34px;
    }
    .destaques-conteudo img,
    .destaques-conteudo2 img {
        box-shadow: -22px 30px 0rem var(--main-color);
    }
}

@media (max-width: 320px){ 

    .portifolio-conteiner {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .servicos {
        padding-left: 2.25rem;
        padding-right: 2.25rem;
    }
    .foot-texto p {
        font-size: 1.1rem;
    }
    .servicos h2,
    .portifolio h2,
    .contato h2{
        font-size: 4.5rem;
    }
    .sobred-conteiner span{
        font-size: 37px;
    }

    .destaques-conteudo img,
    .destaques-conteudo2 img{
        box-shadow: -14px 15px 0rem var(--main-color);
    }
} 
@media (max-width: 301px){ 

    .portifolio-descricao h4 {
        font-size: 2.1rem;
    }
    .portifolio-descricao p {
        font-size: 1.4rem;
    }
    .portifolio-descricao a {
        width: 5rem;
        height: 5rem;
    }
} 

.typed-cursor,.typed-cursor typed-cursor--blink{
    display: none;
    color: #1f242d00;
    display: inline-flex;
}

