.btn{
    margin-top: 2rem;
    display: inline-block;
    padding: 1rem 3.0rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    box-shadow: 0 0 2rem var(--main-color);
    font-size: 1.5rem;
    color: var(--bg-color);
    font-weight: 600;
    letter-spacing: .2rem;
    cursor: pointer;
}

.btn:hover{
    box-shadow: none;
}


