/*https://color.adobe.com/pt/create/color-wheel */
:root{ 
    --bg-color: #1f242d;
    --segunda-bg-color: #323946;
    --texto-color: #fff;
    --main-color: #F7D101;
    --transparent-color: #ffffff00;
}