.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(10px);
    background: #1f242df2;
}



.header_shadow{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo{
    font-size: 3.5rem;
    color: var(--texto-color);
    font-weight: 600;
    cursor: default; 
}



@media (max-width: 960px) {
    .header{
        padding: 1.5rem 3%;
    }
}



